.storybook-button2 {
  --button2-background-color: #1ea7fd;
  --button2-border-radius: 3rem;

  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: var(--button2-border-radius);;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button2--primary {
  color: lightgray;
  background-color: var(--button2-background-color);
}
.storybook-button2--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button2--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button2--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button2--large {
  font-size: 16px;
  padding: 12px 24px;
}
